#popup_geolocation__dialog {
    display: none;
}

.geolocation_tbl {
    border: 1px solif #cfcfcf;
    width: 100%;
}

.geolocation_img {
    display: inline;
    cursor: pointer;
}

.geolocation_td_title {
    width: 16%;
    text-align: center !important;
}

.geolocation_tr_content {
    text-align: center;
    border-top: 1px dotted #cfcfcf;
}

