<form name="bulk_test" id="bulk_test" method="post" action="[% uri %]">

    [% INCLUDE page_elements/forms/dbl_submit_token.tt %]

    <div class="formrow divideabove">
        <label for="ruleset">Rules to Test:</label>

        <select name="ruleset" id="ruleset">
            [% FOREACH ruleset_item IN rulesets.pairs %]
                <option value="[% ruleset_item.key %]"[% ' selected="selected"' IF ruleset_item.key == ruleset %]>[% ruleset_item.value %]</option>
            [% END %]
        </select>

    </div>

    <div class="formrow divideabove">
        <label for="expected_result">Expected Result:</label>
        <select name="expected_result" id="expected_result">
            [% FOREACH order_status IN order_statuses %]
                <option value="[% order_status.id %]"[% IF expected_result == order_status.id %] selected="selected"[% END %]>[% order_status.status %]</option>
            [% END %]
        </select>
    </div>

    <div class="formrow dividebelow divideabove">
        <label for="orders">Order Numbers:</label>
        <textarea name="orders" id="orders" style="width:650px; height: 100px">[% orders %]</textarea>
    </div>

    <div class="formrow aftertable buttons formend">
        [% INCLUDE page_elements/forms/submit_button.tt submit='Test &raquo;' %]
    </div>

</form>

[% IF invalid_orders && invalid_orders.size > 0 %]

    <br />
    <h2>Invalid Order Number[% 's' IF invalid_orders.size > 1 %]</h2>

    <table id="table_invalid_order_numbers" class="data wide-data">

        <thead>

            <tr class="dividebelow divideabove">
                <td class="tableHeader">Order Number</td>
                <td class="tableHeader">Reason</td>
            </tr>

        </thead>

        <tbody>

            [% FOREACH order IN invalid_orders %]

                <tr>

                    <td>[% order.order_nr %]</td>
                    <td>[% order.reason %]</td>

                </tr>

            [% END %]

        </tbody>

    </table>

[% END %]

