.#*
*~
/blib
/inc/*
/lib/XTracker/Constants/FromDB.pm
*.lock
/logs/
/Makefile
Makefile.old
/MANIFEST.bak
/META.yml
/MYMETA.yml
/MYMETA.json
MANIFEST
/pm_to_blib
*.sw?
*.swp
*.tdy

*.rpm

.vagrant/*

.DS_Store
.AppleDouble

/t/conf/apache_test_config.pm
/t/conf/extra.conf
/t/conf/httpd.conf
/t/conf/mime.types
/t/conf/modperl_inc.pl
/t/conf/modperl_startup.pl
/test_run_*
/t/htdocs/*
/t/logs/*
/t/tmp

*.swp
*.sw?
*.lock

# Module::Install/EUMM files
/inc/
/blib/
/MANIFEST.bak
/Makefile.old
/Makefile
/Makefile.old
/META.yml

/logs/
/test_run_*
/tmp/

# RPM/Setup files
/VERSION
/xtdc/
/.rpmbuild/
/xt-*.tar.gz
/xt-master/
/xt.spec
/xtdc.spec

# new 'build css at startup'
root/static/css/print.css
root/static/css/xtracker.css

# symlinks created by 'make setup'
root/static/barcodes
root/static/bootstrap
root/static/export
root/static/images/products
root/static/images/slugs
root/static/include
root/static/jquery
root/static/jquery-ui
root/static/manifest
root/static/print_docs
root/static/queue
root/static/reports
root/static/routing
root/static/search
root/static/javascript/jquery/jtable

# Directory we dump temporary files into for printing
root/static/print_docs_tmp

# temp delete me
reconfigure

# script/handler_search.pl data file
url_coverage.data

MYMETA.json
/*.session

# ctags output
tags
/lib_dynamic/
/.prove

# Devel cover
/cover_db/
/covered/

.reviewboardrc
/nytprof.out
/nytprof/

# files created if you 'pretend to be a jenkins job' locally for
# testing/debugging build issues
/junit_output.xml
/nap_dev.properties
*_flymake*
\._*
