
.acl_option {
    padding:5px;
    display:block;
}

.selection_list {
    width: 400px;
}

.acl_option {
    margin-left:5px;
}

optgroup{
    margin-top: 10px;
    margin-left:13px;
}

select {
    margin-top: 10px !important;
    font-family:"Arial,sans-serif" !important;
}

a {
    text-decoration: none !important;
}
