
.bc-container {
    display: block;
}

.breadcrumb {
    list-style: none;
    overflow: hidden;
    font: 12px Helvetica, Arial, Sans-Serif;
    border-bottom: 1px solid #000000;
    margin-top: 10px;
}

.breadcrumb li {
    float: left;
}

.breadcrumb li a {
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    /* background: #6666FF; */
    position: relative;
    display: block;
    float: left;
    pointer-events: none;
    cursor: default;
}

/*.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 35px solid #6666FF;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 35px solid #6666FF;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}*/

.breadcrumb li.step-1 a {
    padding-left: 0px;
    /* background:        #6666FF; */
    border-left-color: #6699FF;
}

.breadcrumb li.step-2 a {
    /* background: #6699FF; */
    color:      #66CCFF;
}

/* .breadcrumb li.step-2 a:after { */
/*     border-left-color: #6699FF; */
/* } */

.breadcrumb li.step-3 a {
    /* background: #66BBFF; */
    color:      #66DDFF;
}

/* .breadcrumb li.step-3 a:after { */
/*     border-left-color: #66BBFF; */
/* } */

.breadcrumb li.step-4 a {
    /* background: #66CCFF; */
    color:      #66EEFF;
}

/* .breadcrumb li.step-4 a:after { */
/*     border-left-color: #66CCFF; */
/* } */

.breadcrumb li.step-5 a {
    /* background: #66DDFF; */
    color:      #66FFFF;
}

/* .breadcrumb li.step-5 a:after { */
/*     border-left-color: #66DDFF; */
/* } */

.breadcrumb li.current-step a {
    color: black;
}
