	

/*  General rules */
	
	/*  Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  */

* html code	{
	font-size : 105%; 
	}


	/*  Typography */
	

h1	{
	padding: 0;
	background: transparent;
	color: #000000;
	text-transform: none;
	font-family: Arial, Avenir, "Lucida Grande", Verdana, "Bitstream Vera Sans", Helvetica, sans-serif;
	font-weight: bold;
  	font-size: 1.5em;
	}

h2	{
	padding: 0;
	background: transparent;
	color: #333333;
	text-transform: none;
	font-family: Arial, Avenir, "Lucida Grande", Verdana, "Bitstream Vera Sans", Helvetica, sans-serif;
	font-weight: bold;
  	font-size: 1.3em;
	}

h3	{
	padding: 0;
	background: transparent;
	color: #666666;
	text-transform: none;
	font-family: Arial, Avenir, "Lucida Grande", Verdana, "Bitstream Vera Sans", Helvetica, sans-serif;
	font-weight: bold;   
  	font-size: 1.2em;
	}

p       {
	padding: 0;
	background: transparent;
	color: #000000;
	text-transform: none;
	font-family: Arial, Avenir, "Lucida Grande", Verdana, "Bitstream Vera Sans", Helvetica, sans-serif;
	font-weight: bold;   
  	font-size: 1em;
	}

a       {
	padding: 0;
	background: transparent;
	color: #666666;
	text-transform: none;
	font-family: Arial, Avenir, "Lucida Grande", Verdana, "Bitstream Vera Sans", Helvetica, sans-serif;
	font-weight: bold;   
  	font-size: .7em;
	}
 
