/*
Common CSS
*/

.can_scan td {
    background: #99FF99 !important;
}

.can_not_scan td {
    background: #FF6666 !important;
}

table td.sla_cutoff.urgent {
    color: red !important;
}

.question_answers {
  list-style-type: none;
}

.handheld #container_barcode {
	width: 105px;
}

table.layout-scan-container {
	margin-bottom: 20px;
}