.inthebox_option_list {
    display: none;
}

#segment_log_list {
    display: none;
}

.inthebox_option_list_inner {
    position: relative;
}

.inthebox_option_instruction1 {
    display: inline;
    float: left;
    width: 45%;
}
.inthebox_option_instruction2 {
    display: inline;
    float: right;
    width: 45%;
}

.inthebox_option_list P.heading {
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.inthebox_option_list P.instruction {
    text-align: right;
    padding: 0px;
    margin: 0px;
}

.inthebox_option_to_pick {
    display: inline;
    float: left;
    overflow: auto;
    border: 1px solid #999;
    width: 45%;
    height: 280px;
}

.inthebox_option_picked {
    display: inline;
    float: right;
    overflow: auto;
    border: 1px solid #999;
    width: 45%;
    height: 280px;
}

.inthebox_option_to_pick .formrow, .inthebox_option_picked .formrow {
    padding-right: 5px;
    text-align: right;
}

.inthebox_option_to_pick .formrow LABEL, .inthebox_option_picked .formrow LABEL {
    padding-left: 5px;
    text-align: left !important;
}

.inthebox_option_to_pick P {
    padding: 5px;
    margin: 0px;
}

#select_customer_list_textarea {
    -moz-box-sizing: border-box; /* FireFox */
    box-sizing: border-box; /* IE 8+ */
    width: 98%;
    height:200px;
    padding: 4px;
}

.inthebox_list_channels, .invisible_option_row {
    display: none;
}

.default_show { display: block; };
.default_hide { display: none; };

.option_checkbox_label {
    /* !important makes IE behave a bit more */
    width: auto !important;
}
.option_item_checkboxes {
    /* !important makes IE behave a bit more */
    width: 20px !important;
}
