/*
Common CSS
*/

.faint_bordered_box {
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}

.contentright_section {
    border-bottom: 1px solid grey;
}

.show_cancelled {
    color: #888 !important;
}

textarea {
    resize: none;
}

.horizontal_form_alignment {
    display: inline;
    min-width: 10px;
    float: right;
    padding-left:5px;
    padding-top:5px;
}


/*
Select Products Page
*/

#select_products__reservation_source_selection {
    float:right;
    height:10px;
}

#select_products__strap_area {
    position:static;
/*    margin-bottom:10px; */
}

#select_products__search_results_area {
    padding-top: 10px;
    clear:both;
}

#select_products__product_search_block {
    float: left;
    width:70%;
}

#select_products_product_textarea {
    -moz-box-sizing: border-box; /* FireFox */
    box-sizing: border-box; /* IE 8+ */
    width: 98%;
    height:200px;
    padding: 4px;
}

#select_products__product_shipment_block {
    float:right;
    width:25%;
}

.select_products__product_image, .select_products__product_details {
    display: inline-block;
    vertical-align:top;
}

.select_products__variant_data {
}

.select_products__product_image {
    margin-right:20px;
    margin-bottom:10px;
}

.select_products__product_details {
    vertical-align:center;
}

.select_products__variant_selection_box {
    margin-bottom: 15px;
    width:100%;
}

.select_products__description {
    font-weight:bold;
}

.select_products__broken_price {
    font-style:italic;
    margin-bottom: 2px;
}

.select_products__discount_price {
    font-weight: bold;
    color: #555555;
    margin-top: 2px;
}

.select_products__broken_discount_price {
    font-style:italic;
    margin-bottom: 2px;
}

.select_products__cant_ship  {
    font-style:italic;
}

#select_products__variant_form_buttons {
    text-align:right;
}

.formrow span {
    display: block;
    float: right;
    text-align: left;
    width: 300px;
}

/*
 * Basket Page
 */

.basket__variant_cant_ship  {
    font-style:italic;
    text-align:center;
}

#basket__payment_due_status {
    text-align:right;
    font-weight:bold;
    font-size:large;
}

#basket__payment_without_discount {
    margin-bottom: 5px;
}

#payment_due_status {
    text-align:right;
    font-weight:bold;
    font-size:large;
}

#basket__page_options_secton {
}

#basket__shipment_details_box, #basket__invoice_address_box, #basket__contact_details_box {
    height:310px;
    width:28%;
    margin-bottom:10px;
    vertical-align:top;
    display:inline-block;

    /* for ie */
    zoom:1;
    *display: inline;
}

#basket__shipment_details_box {
}

#basket__invoice_address_box {
}

#basket__contact_details_box {
}

#shipment_address__on_screen_text {
    width:60%
}

#basket__shipment_option {
    float:right;
    width:40%
}

#basket__currency_option {
    float:right;
}

#basket__action_forms {
    text-align:right;
}

#basket__confirm_variants_form, #basket__edit_selection_form {
    float:right;
    margin-left:5px;
}

#basket__payment_due_status {
    margin-top:10px;
    margin-bottom:10px;
}

.discount_disclaimer {
    display: block;
    margin-top: 3px;
}

/*
 * Summary Page
 */

#summary__payment_due_status {
    text-align:right;
    font-weight:bold;
    font-size:large;
}

#payment_due_status {
    text-align:right;
    font-weight:bold;
    font-size:large;
}

#shipment_address__on_screen_text {
    width:60%
}

#summary__shipment_option {
    float:right;
    width:40%
}

#summary__currency_option {
    float:right;
}

#summary__action_forms {
    text-align:right;
}

#summary__confirm_variants_form, #summary__edit_selection_form {
    float:right;
    margin-left:5px;
}

#summary__payment_due_status {
    margin-top:10px;
    margin-bottom:10px;
}

.payment_without_discount {
    text-align:right;
    font-weight:bold;
    font-size:small;
    color: #888888;
}

#summary__payment_discount_operator {
    text-align:right;
    color: #888888;
    margin-bottom: 5px;
}

#summary__status_logs, #summary__operator_logs {
    display:none;
}

#summary__operator_logs_zoom_out_img, #summary__status_logs_zoom_out_img {
    display:none;
}


/*
 * New Address Dialog
 */

.new_address__field_required {
    font-weight: bold;
    margin:0px;
}

#address_popup__new_address_options,
#address_popup__new_address_buttons,
#address_popup__previous_address_options,
#address_popup__previous_address_buttons {
    text-align:right;
}

.card_payment__field_required {
    font-weight: bold;
    margin:0px;
}

.payment_cancel_button,
.payment_process_button {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* for ie */
    zoom:1;
}

/*
 * Dialog Box
 */

.ui-dialog {
}

.ui-dialog-titlebar {
    visibility:hidden
}

.ui-dialog-title-dialog {
}

.ui-dialog-content {
}




