/*
Common CSS
*/

.faint_bordered_box {
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}

.contentright_section {
    border-bottom: 1px solid grey;
}

.show_cancelled {
    color: #888 !important;
}

textarea {
    resize: none;
}

.horizontal_form_alignment {
    display: inline;
    min-width: 10px;
    float: right;
    padding-left:5px;
    padding-top:5px;
}


/*
Select Products Page
*/

#select_products__reservation_source_selection {
    float:right;
    height:10px;
}

#select_products__strap_area {
    position:static;
    margin-bottom:10px;
}

#select_products__search_results_area {
    clear:both;
}

#select_products__product_search_block {
    width:75%;
}

#select_products_product_textarea {
    -moz-box-sizing: border-box; /* FireFox */
    box-sizing: border-box; /* IE 8+ */
    width: 98%;
    height:200px;
    padding: 4px;
}

#select_products__product_shipment_block {
    float:right;
    width:20%;
}

.select_products__product_image, .select_products__product_details {
    display: inline-block;
    vertical-align:top;
}

.select_products__variant_data {
}

.select_products__product_image {
    margin-right:20px;
    margin-bottom:10px;
}

.select_products__product_details {
    vertical-align:center;
}

.select_products__variant_selection_box {
    margin-bottom: 15px;
    width:100%;
}

.select_products__description {
    font-weight:bold;
}

#select_products__variant_form_buttons {
    text-align:right;
}

/*
 * Basket Page
 */


#basket__action_forms {
    text-align:right;
}

#basket__confirm_variants_form, #basket__edit_selection_form {
    float:right;
    margin-left:5px;
}

