/*********************************************
 * Shipping Restrictions
 *********************************************/

.restriction_hazmat {
    display: inline;
}

.restriction_hazmat IMG {
    display: inline;
    margin: 0px;
    padding: 0px;
    width: 20px !important;
}

.restricted_highlight {
    background-color: #FF8E8E !important;
}

.not_restricted_highlight {
    background-color: #AAFD8E !important;
}

/* keep IE happy */
TR.restricted_highlight TD {
    background-color: #FF8E8E !important;
}

/* keep IE happy */
TR.not_restricted_highlight TD {
    background-color: #AAFD8E !important;
}
