.formrow {
  zoom: 1;
}

/* without this IE will not expand width: auto buttons
   to contain value string */
input[type="button"], input[type="submit"] {
    min-width: 0 !important;
    overflow: visible;
    padding-left: 5px;
    padding-right: 5px;
}
