<div id="location_form">
<form name="new_location" action="/StockControl/Location/DeleteLocations" method="POST">
    [% INCLUDE page_elements/forms/dbl_submit_token.tt %]
    [% PROCESS stocktracker/location/location_range_select.tt %]
    [% INCLUDE page_elements/forms/submit.tt %]
</form>

[% IF message %]
<br/>
<div id="message">
    <div>[% message %]</div>
</div>
[% END %]

</div>
