#fraudscreen__blank_condition_row {
    display:none;
}

.fraudscreen__edit_rule_text_input {
    width: 95%;
}

.fraudscreen__edit_condition_operator_list, .fraudscreen__edit_condition_value, .fraudscreen__edit_condition_enabled {
    display:none;
}

/*
    Overwrite JQuery UI - Horrible Hack for Demo
*/
.ui-datepicker {
    font-size: 0.7em !important;
    margin: 20px 0 !important;
}

.fraudscreen__edit_condition_error_msg, #fraudscreen__edit_rule_error_msg, #fraudscreen__login_auth_failed {
    color: red;
    font-style: italic;
}

.fraudscreen__edit_condition_row TD {
    vertical-align: top;
}

#fraudscreen__edit_rule_window {
    display:none;
}

#fraudscreen__edit_rule_tags li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.fraudscreen__edit_condition_list_popup {
    width: 15px;
}
