.fraudscreen__rule_row_placeholder {
    height: 2.6em;
    line-height: 2.6em;
}

.fraudscreen__rule_data {
    vertical-align : top;
}

.fraudscreen__condition_disabled {
    color: red;
    text-decoration: line-through;
}

.fraudscreen__condition_enabled {
    color: green;
}

.fraudscreen__single_table_row {
    text-align: center;
}

#fraudscreen__blank_rule_row {
    display:none;
}


#fraudscreen__table_filter_selection {
    text-align:right;
}

.fraudscreen__name_error_msg, .fraudscreen__condition_error_msg {
    color: red;
    font-style: italic;
}

.fraudscreen__value_list_name {
    text-decoration: underline !important;
    cursor: pointer;
}
