
<span class="title">Put Away</span><br />
<table width="210" cellpadding="0" cellspacing="0" border="0">
	<tr>
	    <td>
		[% INCLUDE page_elements/forms/barcode_entry.tt %]
	    </td>
	</tr>
</table>


[% IF status_msg %]
<table width="210" cellpadding="0" cellspacing="0" border="0">
	<tr>
	    <td><span class="highlight">[% status_msg %]</span></td>
	</tr>
</table><br />
<br />

[% END %]
