[%-
    # Template for e-mail notification regarding shipments that will be late due to
    # their shipping-address lying within a post-code that takes the carrier longer to
    # ship to
-%]

Order number: [% shipment.get_order_number %]

When ordered: [% shipment.get_requested_date %]

Order value: [% shipment.total_price %] ([% currency_code %])
