Dear [% customer_name %],

Thank you for contacting NET-A-PORTER.

We can confirm that we have cancelled your order number [% cancelled_order_nr %] as requested.

[% refund_message %]

Kind regards,

Customer Care
www.net-a-porter.com