[%-
    SWITCH financepriority;
        CASE '1';
            row_styles.push('highlight');
        CASE '2';
            row_styles.push('highlight2');
        CASE '3';
            row_styles.push('highlight3');
        CASE '4';
            row_styles.push('highlight4');
        CASE '5';
            row_styles.push('highlight5');
        CASE DEFAULT;
    END;
-%]
