[% IF preferences.printer_station_name %]
    <div id="printer_station">
        <div class="station_icon">
            <img src="/images/icons/printer.png" title="Printer Station" alt="Printer Station" border="0" />
        </div>
        <div class="station_name">
            <span>[% preferences.printer_station_name.replace('_',' ') %]</span>
        </div>
    </div>
    <br clear="all" />
    <br>
[% END %]
