#new_order_form {
    padding: 10px !important;
}

#new_order_form table {
    width: auto !important;
    display: inline-block;
}

#new_order_form th {
    text-align: center !important;
}

#new_order_form input[type=text] {
    width: 12em;
    height: 1.2em;
}

.no_section {
    vertical-align: top !important;
    padding: 10px !important;
    display: inline-block;
}

#no_order_items, #no_billing, #no_promotion_line_items{
    display: block;
}

#no_order_items, #no_promotion_line_items {
    width: auto !important;
}

#no_submit {
    display: block;
    margin: auto;
}

#new_order_form select {
    border: 3px;
}

.hidden {
    display: none !important;
}
