<html> 
<head> 
<!-- Template name: [% template.name %] -->
<title></title>
<style type="text/css">
#address {
  position: absolute;
  top: 180px;
  left: 230px;
}
</style>
<meta http-equiv=content-type content="text/html; charset=utf8">
</head>
<body bgcolor="#FFFFFF" TEXT="#000000">
<font face="Arial,Helvetica" size="4" color="#000000">
<div id="address">
[% shipping_address.first_name %]&nbsp;[% shipping_address.last_name %]<br>
[% shipping_address.address_line_1 %]<br>
[% IF shipping_address.address_line_2 != "" %][% shipping_address.address_line_2 %]<br>[% END %]
[% IF shipping_address.address_line_3 != "" %][% shipping_address.address_line_3 %]<br>[% END %]
[% IF shipping_address.towncity != "" %][% shipping_address.towncity %]<br>[% END %]
[% IF shipping_address.county != "" %][% shipping_address.county %]<br>[% END %]
[% IF shipping_address.postcode != "" %][% shipping_address.postcode %]<br>[% END %]
[% IF shipping_address.country != "" %][% shipping_address.country %]<br>[% END %]
</div>
</font>
</body>
</html>
