<html>
<head>
<!-- Template name: [% template.name %] -->
<title></title>
<style type="text/css">
<!--
body { margin-top: 1cm; margin-left: 0.5cm; }
//-->
</style>
<meta http-equiv=content-type content="text/html; charset=utf-8">
</head>
<body>
<font face="arial">
<table cellspacing="0" cellpadding="0" width="650" border="0">
    <tbody>
    <tr valign="top">
        <td><h1>Stock Sheet</h1><h4>Printed: [% print_date.strftime('%d-%m-%Y %R') %]</h4><br></td>
        <td align="right">
            <table width="200" border="3" cellpadding="5" cellspacing="0" bordercolor="#000000" style="border-style:solid">
                <tr>
                    <td align="center"><h1>Goods In</h1></td>
                </tr>
                <tr>
                    <td align="center"><h1>Delivery</h1></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left"><br><h2><b>Delivery Number: [% delivery_id %]</b></h2></p></td>
    </tr>
    <tr>
        <td colspan="2" align="left"><img src="[% 'delivery-' _ delivery_id _ '.png' %]"><br><br></td>
    </tr>
    </tbody>
</table>
<br><br>

[% PROCESS print/goodsin_sheet_product_summary.inc %]

<br />
<br />

<table cellspacing="0" cellpadding="0" width="650" bgcolor="#f2f2f2" border="0">
    <tbody>
    <tr height="24" bgcolor="#c5c5c5">
        <td><b>&nbsp;&nbsp;SKU&nbsp;&nbsp;</b></td>
        <td><b>&nbsp;&nbsp;Designer Size&nbsp;&nbsp;</b></td>
        <td>&nbsp;&nbsp;</td>
        <td><b>&nbsp;&nbsp;Delivered&nbsp;&nbsp;</b></td>
        <td><b>&nbsp;&nbsp;Checked&nbsp;&nbsp;</b></td>
        <td><b>&nbsp;&nbsp;Failed&nbsp;&nbsp;</b></td>
    </tr>
    [% item_count = 0 %]
    [% FOREACH item = delivery_items.nsort('size_id') %]
        [% IF item_count == 6 || ( item_count > 12 && ( ( item_count + 6 ) % 12) == 0 ) %]
            <tr>
                <td colspan="8" height="50">&nbsp;</td>
            </tr>
        [% END %]
    <tr>
        <td bgcolor="#f2f2f2" colspan="8" height="1">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;<font size="3">[% product.id %]-[% item.size_id %]&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
        <td><font size="2">[% product.size_scheme _ ' ' IF product.size_scheme.defined; item.designer_size || '-' %]</font></td>
        <td>&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;<font size="2"><img src="file://[% config_dirs.xtdc_base %]/root/static/images/white_square.gif" height="40" width="40"></font></td>
        <td>&nbsp;&nbsp;<font size="2"><img src="file://[% config_dirs.xtdc_base %]/root/static/images/white_square.gif" height="40" width="40"></font></td>
        <td>&nbsp;&nbsp;<font size="2"><img src="file://[% config_dirs.xtdc_base %]/root/static/images/white_square.gif" height="40" width="40"></font></td>
    </tr>
    <tr>
        <td bgcolor="#f2f2f2" colspan="8" height="1">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="9" bgcolor="#c2c2c2" height=1></td>
    </tr>
    [% item_count = item_count + 1 %]
    [% END %]
    </tbody>
</table>
</body>
</html>
