<html> 
<head> 
<!-- Template name: [% template.name %] -->
<title></title>
<style type="text/css">
    body {
        color: #000;
        background: #fff;
        font-family: "Gill Sans Light", GillSans;
        font-size: 14pt;
        margin: 50 10 10 10;
        padding:
    }
</style>
</head>

<body>
    [% '<p>To ' _ to _ '</p>' IF to %]
    <p>[% message %]</p>
    [% '<p>From ' _ from _ '</p>' IF from %]
</body>
</html>
