<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- Template name: [% template.name %] -->
<title></title>
<style type="text/css">
<!--
body { margin-top: 1.5cm; margin-left: 0.5cm; }
//-->
</style>
</head>
<body bgcolor="#FFFFFF" text="#000000">

<table border=0 cellspacing=0 cellpadding=0 width=570>
    <tr>
        <td colspan=5 align="center" valign="top" height="75">
            [% IF order.sales_channel == 'MRPORTER.COM' %]
            <font face="Georgia" size=4 color="#000000">[% channel_branding.${db_constant('BRANDING__DOC_HEADING')} %]</font><br>
            [% ELSE %]
            <font face="Arial,Helvetica" size=4 color="#000000">[% channel_branding.${db_constant('BRANDING__DOC_HEADING')} %]</font><br>
            [% END %]
            <!-- img src="/images/blank.gif" width=570 height=50 border=0 -->
        </td>
    </tr>
    <tr valign="top">
        <td colspan=3>
            <font face="Arial,Helvetica" size=2 color="#000000"><b>[% IF invoice.renumeration_type_id == 3 %]INVOICE[% ELSE %]CREDIT NOTE[% END %]</b><br>
            [% IF shipment.gift == 1 %]<b>GIFT</b>[% END %]
            <br>
            </font>
        </td>
        [% IF shipment.shipment_type_id == 5 %]
            <td colspan=2 align="right"><font face="arial,helvetica" size="2" color="#000000"><b>DDU SHIPMENT</b></font></td>
        [% ELSE %]
            <td colspan=2><font face="arial,helvetica" size=2>&nbsp;</font></td>
        [% END %]
    </tr>
    <tr>
        <td colspan=5>
            <font face="Arial,Helvetica" size=-1 color="#000000"><b>Invoice Number:&nbsp;</b>[% invoice.invoice_nr %]</font><br>
            <font face="Arial,Helvetica" size=-1 color="#000000"><b>Invoice Date:&nbsp;</b>[% invoice.branded_date %]</font><br>
            <br>
        </td>
    </tr>
    <tr height="16">
        <td colspan=2>
            <font face="Arial,Helvetica" size=1 color="#000000">INVOICE TO</font><font face="Arial" size=1 color="#666666">&nbsp;&nbsp;[% invoice_address.first_name %]&nbsp;[% invoice_address.last_name %]</font>
        </td>
        <td width=10><img src="/images/blank.gif" width=10 height=1 border=0></td>
        <td colspan=2><font face="Arial,Helvetica" size=1 color="#000000">DELIVER TO</font><font face="Arial" size=1 color="#666666">&nbsp;&nbsp;[% shipping_address.first_name %]&nbsp;[% shipping_address.last_name %]</font></td>
    </tr>
    <tr>
        <td colspan=2 bgcolor="#999999"><img src="/images/blank.gif" width=280 height=1 border=0></td>
        <td width=10><img src="/images/blank.gif" width=10 height=1 border=0></td>
        <td colspan=2 bgcolor="#999999"><img src="/images/blank.gif" width=280 height=1 border=0></td>
    </tr>
    <tr height="16">
        <td colspan=2> <font face="Arial,Helvetica" size=1 color="#000000">ADDRESS</font><font face="Arial" size=1 color="#666666">&nbsp;&nbsp;[% invoice_address.address_line_1 %][% IF invoice_address.address_line_2 != "" %], [% invoice_address.address_line_2 %][% END %][% IF invoice_address.address_line_3 != "" %], [% invoice_address.address_line_3 %][% END %]</font></td>
        <td width=10><img src="/images/blank.gif" width=10 height=1 border=0></td>
        <td colspan=2> <font face="Arial,Helvetica" size=1 color="#000000">ADDRESS</font><font face="Arial" size=1 color="#666666">&nbsp;&nbsp;[% shipping_address.address_line_1 %][% IF shipping_address.address_line_2 != "" %], [% shipping_address.address_line_2 %][% END %][% IF shipping_address.address_line_3 != "" %], [% shipping_address.address_line_3 %][% END %]</font></td>
    </tr>
    <tr>
        <td colspan=2 bgcolor="#999999"><img src="/images/blank.gif" width=280 height=1 border=0></td>
        <td width=10><img src="/images/blank.gif" width=10 height=1 border=0></td>
        <td colspan=2 bgcolor="#999999"><img src="/images/blank.gif" width=280 height=1 border=0></td>
    </tr>
    <tr height="16">
        <td colspan=2> <font face="Arial,Helvetica" size=1 color="#000000">CITY</font><font face="Arial" size=1 color="#666666">&nbsp;&nbsp;[% invoice_address.towncity %]</font></td>
        <td width=10><img src="/images/blank.gif" width=10 height=1 border=0></td>
        <td colspan=2> <font face="Arial,Helvetica" size=1 color="#000000">CITY</font><font face="Arial" size=1 color="#666666">&nbsp;&nbsp;[% shipping_address.towncity %]</font></td>
    </tr>
    <tr>
        <td colspan=2 bgcolor="#999999"><img src="/images/blank.gif" width=280 height=1 border=0></td>
        <td width=10><img src="/images/blank.gif" width=10 height=1 border=0></td>
        <td colspan=2 bgcolor="#999999"><img src="/images/blank.gif" width=280 height=1 border=0></td>
    </tr>
    <tr height="16">
        <td width=130> <font face="Arial,Helvetica" size=1 color="#000000">POST CODE</font><font face="Arial" size=1 color="#666666">&nbsp;&nbsp;[% invoice_address.postcode %]</font></td>
        <td width=150> <font face="Arial,Helvetica" size=1 color="#000000">COUNTRY</font><font face="Arial" size=1 color="#666666">&nbsp;&nbsp;[% invoice_address.country %]</font></td>
        <td width=10><img src="/images/blank.gif" width=10 height=1 border=0></td>
        <td width=130> <font face="Arial,Helvetica" size=1 color="#000000">POST CODE</font><font face="Arial" size=1 color="#666666">&nbsp;&nbsp;[% shipping_address.postcode %]</font></td>
        <td width=150> <font face="Arial,Helvetica" size=1 color="#000000">COUNTRY</font><font face="Arial" size=1 color="#666666">&nbsp;&nbsp;[% shipping_address.country %]</font></td>
    </tr>
    <tr>
        <td colspan=2 bgcolor="#999999"><img src="/images/blank.gif" width=280 height=1 border=0></td>
        <td width=10><img src="/images/blank.gif" width=10 height=1 border=0></td>
        <td colspan=2 bgcolor="#999999"><img src="/images/blank.gif" width=280 height=1 border=0></td>
    </tr>
</table>

<table width="600">
    <tr>
        <td colspan=2>
            <font face="Arial,Helvetica" size=-1 color="#000000"><b><br><br>Order Number:</b> [% order.order_nr %]<br>
            <b>Shipment Number:</b> [% shipment.id %]<br>
            <b> Customer Number:</b> [% customer.is_customer_number %]</font><br><br>
        </td>
    </tr>
</table>

<table border=0 cellspacing=0 cellpadding=1 width=570 >
    <tr bgcolor="black">
        <td width=25 align="center" bgcolor="black">&nbsp;</td>
        <td width=220 bgcolor="black" align="center"><font face="Arial,Helvetica" size=1 color="#FFFFFF">DESCRIPTION</font></td>
        <td width=65 bgcolor="black" align="center"><font face="Arial,Helvetica" size=1 color="#FFFFFF">QUANTITY</font></td>
        <td width=65 bgcolor="black" align="center"><font face="Arial,Helvetica" size=1 color="#FFFFFF">UNIT PRICE</font></td>
        <td width=65 bgcolor="black" align="center"><font face="Arial,Helvetica" size=1 color="#FFFFFF">[% country.tax_name %] RATE</font></td>
        <td width=65 bgcolor="black" align="center"><font face="Arial,Helvetica" size=1 color="#FFFFFF">[% country.tax_name %]</font></td>
        <td width=65 bgcolor="black" align="center"><font face="Arial,Helvetica" size=1 color="#FFFFFF">DUTIES</font></td>
        <td width=65 bgcolor="black" align="center"><font face="Arial,Helvetica" size=1 color="#FFFFFF">PRICE</font></td>
    </tr>
</table>

<table border=1 cellspacing=0 cellpadding=1 width=570 bordercolor="#000000" bordercolorlight="black"  bordercolordark="white">

[% SET prodcount = 1 %]

[% FOREACH id = invoice_item.keys %]
    <tr>
        <td width=25  align="right"><font face="Arial,Helvetica" size=1 color="#000000">[% prodcount %]</font><img src="/images/blank.gif" width=4 height=1 border=0></td>
        <td width=220 align="center"><font face="Arial,Helvetica" size=1 color="#000000">[% invoice_item.$id.name %]</td>
        <td width=65  align="right"><font face="Arial,Helvetica" size=1 color="#000000">[% invoice_item.$id.quantity %]</font><img src="/images/blank.gif" width=10 height=1 border=0></td>
        <td width=65  align="right"><font face="Arial,Helvetica" size=1 color="#000000">[% invoice_item.$id.unit_price FILTER format('%0.2f') %]</font><img src="/images/blank.gif" width=10 height=1 border=0></td>
        <td width=65  align="right"><font face="Arial,Helvetica" size=1 color="#000000">[% invoice_item.$id.tax_rate FILTER format('%0.2f')%]%</font><img src="/images/blank.gif" width=10 height=1 border=0></td>
        <td width=65  align="right"><font face="Arial,Helvetica" size=1 color="#000000">[% invoice_item.$id.tax FILTER format('%0.2f') %]</font><img src="/images/blank.gif" width=10 height=1 border=0></td>
        <td width=65  align="right"><font face="Arial,Helvetica" size=1 color="#000000">[% invoice_item.$id.duty FILTER format('%0.2f') %]</font><img src="/images/blank.gif" width=10 height=1 border=0></td>
        <td width=65  align="right" ><font face="Arial,Helvetica" size=1 color="#000000">[% invoice_item.$id.total_price FILTER format('%0.2f') %]</font><img src="/images/blank.gif" width=10 height=1 border=0></td>
    </tr>
    [% prodcount = prodcount + 1 %]
[% END %]

</table>

[% SET spacer_height = (prodcount * -8) + 180 %]



<table border=0 cellspacing=0 cellpadding=0 width=570>
    <tr>
        <td colspan=2><img src="/images/blank.gif" width=1 height=1 border=0></td>
    </tr>
    <tr>
        <td width=475 align="right"><font face="Arial,Helvetica" size=1 color="#000000">TOTAL PRICE</font></td>
        <td width=30>&nbsp;</td>
        <td width=65 align="right"><font face="Arial" size=1 color="#666666">[% currency_symbol %] [% invoice.total_price FILTER format('%0.2f') %]</font></td>
    </tr>
    <tr>
        <td width=505></td>
        <td></td>
        <td width=65 bgcolor="#999999"><img src="/images/linepixel.gif" width=65 height=1 border=0></td>
    </tr>
    <tr>
        <td align="right"><font face="Arial,Helvetica" size=1 color="#000000">SHIPPING</font></td>
        <td>&nbsp;</td>
        <td width=65 align="right"><font face="Arial" size=1 color="#666666">[% currency_symbol %] [% invoice.shipping FILTER format('%0.2f') %]</font></td>
    </tr>
    <tr>
        <td width=505></td>
        <td></td>
        <td width=65 bgcolor="#999999"><img src="/images/linepixel.gif" width=65 height=1 border=0></td>
    </tr>
[% IF invoice.shipping_tax %]
    <tr>
        <td align="right"><font face="Arial,Helvetica" size=1 color="#000000">SHIPPING [% country.tax_name %]</font></td>
        <td>&nbsp;</td>
        <td width=65 align="right"><font face="Arial" size=1 color="#666666">[% currency_symbol %] [% invoice.shipping_tax FILTER format('%0.2f') %]</font></td>
    </tr>
    <tr>
        <td width=505></td>
        <td></td>
        <td width=65 bgcolor="#999999"><img src="/images/linepixel.gif" width=65 height=1 border=0></td>
    </tr>
[% END %]

[% IF invoice.store_credit > 0 || invoice.store_credit < 0 %]
    <tr>
        <td align="right"><font face="Arial,Helvetica" size=1 color="#000000">STORE CREDIT</font></td>
        <td>&nbsp;</td>
        <td width=65 align="right"><font face="Arial" size=1 color="#666666">[% currency_symbol %] [% invoice.store_credit FILTER format('%0.2f') %]</font></td>
    </tr>
    <tr>
        <td width=505></td>
        <td></td>
        <td width=65 bgcolor="#999999"><img src="/images/linepixel.gif" width=65 height=1 border=0></td>
    </tr>
[% END %]
[% IF invoice.gift_credit > 0 || invoice.gift_credit < 0 %]
    <tr>
        <td align="right"><font face="Arial,Helvetica" size=1 color="#000000">GIFT CERTIFICATE CREDIT</font></td>
        <td>&nbsp;</td>
        <td width=65 align="right"><font face="Arial" size=1 color="#666666">[% currency_symbol %] [% invoice.gift_credit FILTER format('%0.2f') %]</font></td>
    </tr>
    <tr>
        <td width=505></td>
        <td></td>
        <td width=65 bgcolor="#999999"><img src="/images/linepixel.gif" width=65 height=1 border=0></td>
    </tr>
[% END %]
[% IF invoice.gift_voucher > 0 || invoice.gift_voucher < 0 %]
    <tr>
        <td align="right"><font face="Arial,Helvetica" size=1 color="#000000">GIFT VOUCHER</font></td>
        <td>&nbsp;</td>
        <td width=65 align="right"><font face="Arial" size=1 color="#666666">[% currency_symbol %] [% invoice.gift_voucher FILTER format('%0.2f') %]</font></td>
    </tr>
    <tr>
        <td width=505></td>
        <td></td>
        <td width=65 bgcolor="#999999"><img src="/images/linepixel.gif" width=65 height=1 border=0></td>
    </tr>
[% END %]




    <tr>
        <td align="right"><font face="Arial,Helvetica" size=1 color="#000000">GRAND TOTAL</font></td>
        <td></td>
        <td width=65 align="right"><font face="Arial" size=1 color="#666666">[% currency_symbol %] [% invoice.grand_total FILTER format('%0.2f') %]</font></td>
    </tr>
    <tr>
        <td width=505></td>
        <td></td>
        <td width=65 bgcolor="#999999"><img src="/images/linepixel.gif" width=65 height=1 border=0></td>
    </tr>
    <tr>
        <td colspan="3" width="570px" height="10px">
            <!-- img src="/images/blank.gif" width=570 height=10 border=0 --><br>
            <font face="Arial,Helvetica" size=1 color="#000000">Thank you for shopping at [% channel_branding.${db_constant('BRANDING__PF_NAME')} %]</font>
        </td>
    </tr>
</table>

[% IF shipment.gift == 1 && shipment.gift_message != "" && shipment.gift_message != "--" %]
    <font face="Arial,Helvetica" size=1 color="#000000">
    &nbsp;<br>
    The following gift message has been included with your order:<br>
    &nbsp;<br>
    [% shipment.gift_message | html %]
    </font>
[% END %]

[% IF invoice.renumeration_type_id == 3 && shipment.shipment_type_id != 5 %]
    <table width=600 border=0 cellpadding=0 cellspacing=0>
        <tr>
            <td><img src="/images/blank.gif" width=1 height=[% spacer_height %] border=0></td>
        </tr>
        <tr>
            <td align="center">
                <font face="Arial,Helvetica" size=1 color="#000000">DUTIES & TAXES INFORMATION:<br>This shipment includes prepaid Customs duties and Sales taxes (when applicable)<br>for the merchandise to be delivered to the address in the country specified by the customer.<br>
                &nbsp;<br>

                [% IF country.rate > 0 %]
                    This invoice is inclusive of [% country.tax_name %] sales tax that is payable to the tax authorities in [% shipping_address.country %].<br>
                [% END %]

                <br>[% channel_branding.${db_constant('BRANDING__PF_NAME')} %] pays these charges on behalf of the customer.<br>
                &nbsp;<br>
                Should you ever receive a demand for payment of such taxes or duties from either our shipper or from any customs authorities, please contact us immediately on [% shipping_email %], as you are not required to pay this.</font>
            </td>
        </tr>
    </table>
    [% SET spacer_height = 30 %]
[% ELSE %]
    <br><!-- img src="/images/blank.gif" width=1 height=[% spacer_height %] border=0 --><br><br><br><br><br><br>
[% END %]
<br>

[% PROCESS print/document_footer.tt %]

</body>
</html>
