[% SET channel =  edit_channel %]

[% IF ( form_box_type == 'boxes') %]

    [% INCLUDE admin/packingboxadmin/edit_outer_box_form.tt %]

    [% INCLUDE admin/packingboxadmin/display_outer_boxes.tt %]

[% ELSIF ( form_box_type == 'inner_boxes') %]

    [% INCLUDE admin/packingboxadmin/edit_inner_box_form.tt %]

    [% INCLUDE admin/packingboxadmin/display_inner_boxes.tt %]

[% END %]

