
    [% SET name = options.0 %]

    <select[% IF id %] id="[% id %]"[% END %] name="[% name %]" onChange="editField( this )">
        <option value="">-------------------</option>
        [% FOREACH option = options.1 %]
        <option value="[% option.id %]" [% IF option.$name == current || option.id == current_id %] selected [% END; ' disabled' IF disable_select %]>[% option.$name %]</option>
        [% END %]
    </select>

